.idea/*
*~
datatransfer/*
lib/*
*.env*
*.egg-info
thanks/reports/*.csv

logs/

thanks/__pycache__/

thanks/creators/__pycache__/

thanks/executors/__pycache__/

thanks/validators/__pycache__/

ipython/\.ipynb_checkpoints/
